# Ignore node_modules from npm install / yarn install
node_modules

# Ignores package.json lockfile
package-lock.json

# ignores mac file caching system or something
.DS_Store

# ingores `npm install` package-lock that is generated
package-lock.json
